.programs{
    margin: 80px auto;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.program{
    flex-basis: 31%;
    position: relative;
}

.program img{
    width: 100%;
    border-radius: 10px;
    display: block;
}

.caption{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    background: rgba(0,15, 252, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    color: #fff;
    cursor: pointer;
    padding-top: 70px;
    transition: 0.4s;
}

.caption img{
    width: 60px;
    margin-bottom: 10px;
}

.program:hover .caption{
    opacity: 1;
    padding-top: 0px;
}

@media (max-width:650px){
    .programs{
        flex-direction: column;
    }
.program{
    flex-basis: 100%;
    margin:20px;
}

}